USE [master]
GO
/****** Object:  Database [HospitalDB]    Script Date: 01-10-2025 08:47:21 PM ******/
CREATE DATABASE [HospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalDB', FILENAME = N'C:\Users\dellh\HospitalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HospitalDB_log', FILENAME = N'C:\Users\dellh\HospitalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalDB]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NULL,
	[KeyValue] [nvarchar](100) NULL,
	[Action] [nvarchar](50) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[ActionBy] [int] NULL,
	[ActionOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[Description] [nvarchar](255) NULL,
	[BilledBy] [int] NULL,
	[BillDate] [datetime] NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[PaymentMode] [nvarchar](20) NULL,
	[InsuranceProvider] [nvarchar](100) NULL,
	[PolicyNumber] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Specialization] [nvarchar](100) NULL,
	[Department] [nvarchar](50) NULL,
	[Qualification] [nvarchar](100) NULL,
	[ExperienceYears] [int] NULL,
	[ConsultationFee] [decimal](10, 2) NULL,
	[LicenseNumber] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicineIssue]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicineIssue](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[PrescriptionID] [int] NULL,
	[MedicineID] [int] NULL,
	[QuantityIssued] [int] NULL,
	[IssuedBy] [int] NULL,
	[IssuedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](150) NULL,
	[Manufacturer] [nvarchar](100) NULL,
	[BatchNumber] [nvarchar](50) NULL,
	[QuantityAvailable] [int] NULL,
	[ExpiryDate] [date] NULL,
	[CostPrice] [decimal](10, 2) NULL,
	[SellingPrice] [decimal](10, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurses]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurses](
	[NurseID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[Qualification] [nvarchar](100) NULL,
	[Specialization] [nvarchar](100) NULL,
	[YearsOfExperience] [int] NULL,
	[JoiningDate] [date] NULL,
	[Salary] [decimal](10, 2) NULL,
	[UserID] [int] NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[PatientCode] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Age]  AS (datediff(year,[DateOfBirth],getdate())),
	[BloodGroup] [nvarchar](5) NULL,
	[MaritalStatus] [nvarchar](20) NULL,
	[ContactNumber] [nvarchar](15) NULL,
	[AlternateNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Pincode] [nvarchar](10) NULL,
	[EmergencyContactName] [nvarchar](100) NULL,
	[EmergencyContactNumber] [nvarchar](15) NULL,
	[MedicalHistory] [nvarchar](max) NULL,
	[Allergies] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NULL,
	[MedicineID] [int] NULL,
	[MedicineName] [nvarchar](150) NULL,
	[Dosage] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[Duration] [nvarchar](50) NULL,
	[Comments] [nvarchar](255) NULL,
	[PrescribedBy] [int] NULL,
	[PrescribedOn] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staffs](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleType] [nvarchar](50) NULL,
	[JoiningDate] [date] NULL,
	[Salary] [decimal](10, 2) NULL,
	[Gender] [nvarchar](10) NULL,
	[DateOfBirth] [date] NULL,
	[Address] [nvarchar](255) NULL,
	[Qualification] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitKey] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visits]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visits](
	[VisitID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NULL,
	[VisitDate] [datetime] NULL,
	[VisitType] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vitals]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vitals](
	[VitalID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NULL,
	[VisitID] [int] NULL,
	[VitalType] [nvarchar](50) NOT NULL,
	[VitalValue] [nvarchar](50) NOT NULL,
	[Unit] [nvarchar](20) NULL,
	[Comments] [nvarchar](255) NULL,
	[AddedBy] [int] NULL,
	[AddedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VitalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VitalTypes]    Script Date: 01-10-2025 08:47:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VitalTypes](
	[VitalTypeID] [int] IDENTITY(1,1) NOT NULL,
	[VitalKey] [nvarchar](50) NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[VitalTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Billing] ON 

INSERT [dbo].[Billing] ([BillID], [PatientID], [Amount], [Description], [BilledBy], [BillDate], [PaymentStatus], [PaymentMode], [InsuranceProvider], [PolicyNumber]) VALUES (1, 6, CAST(15000.00 AS Decimal(10, 2)), N'null', 1, CAST(N'2025-09-30T17:10:55.250' AS DateTime), N'Pending', N'Cash', N'no', N'no')
INSERT [dbo].[Billing] ([BillID], [PatientID], [Amount], [Description], [BilledBy], [BillDate], [PaymentStatus], [PaymentMode], [InsuranceProvider], [PolicyNumber]) VALUES (6, 4, CAST(2000.00 AS Decimal(10, 2)), N'Bp testing', 87, CAST(N'2025-09-30T19:09:29.723' AS DateTime), N'Pending', N'Cash', N'nil', N'nil')
INSERT [dbo].[Billing] ([BillID], [PatientID], [Amount], [Description], [BilledBy], [BillDate], [PaymentStatus], [PaymentMode], [InsuranceProvider], [PolicyNumber]) VALUES (9, 1, CAST(300.00 AS Decimal(10, 2)), N'Paracetamol issued - 10 tablets', 6, CAST(N'2025-10-01T11:30:28.390' AS DateTime), N'Paid', N'Cash', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Billing] OFF
GO
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorID], [UserID], [Specialization], [Department], [Qualification], [ExperienceYears], [ConsultationFee], [LicenseNumber], [Status]) VALUES (1, 16, N'Cardiology', N'Cardiology', N'MD, DM', 12, CAST(800.00 AS Decimal(10, 2)), N'LIC1001', N'Active')
INSERT [dbo].[Doctors] ([DoctorID], [UserID], [Specialization], [Department], [Qualification], [ExperienceYears], [ConsultationFee], [LicenseNumber], [Status]) VALUES (2, 2, N'Pediatrics', N'Child Care', N'MD, DCH', 8, CAST(500.00 AS Decimal(10, 2)), N'LIC1002', N'Active')
INSERT [dbo].[Doctors] ([DoctorID], [UserID], [Specialization], [Department], [Qualification], [ExperienceYears], [ConsultationFee], [LicenseNumber], [Status]) VALUES (3, 3, N'Neurology', N'Neurology', N'MD, DM', 15, CAST(900.00 AS Decimal(10, 2)), N'LIC1003', N'Active')
SET IDENTITY_INSERT [dbo].[Doctors] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicineIssue] ON 

INSERT [dbo].[MedicineIssue] ([IssueID], [PrescriptionID], [MedicineID], [QuantityIssued], [IssuedBy], [IssuedOn]) VALUES (1, 1, 1, 10, 6, CAST(N'2025-10-01T11:28:43.427' AS DateTime))
INSERT [dbo].[MedicineIssue] ([IssueID], [PrescriptionID], [MedicineID], [QuantityIssued], [IssuedBy], [IssuedOn]) VALUES (2, 2, 2, 14, 6, CAST(N'2025-10-01T11:28:43.427' AS DateTime))
INSERT [dbo].[MedicineIssue] ([IssueID], [PrescriptionID], [MedicineID], [QuantityIssued], [IssuedBy], [IssuedOn]) VALUES (4, 1002, 1, 10, 6, CAST(N'2025-10-01T11:29:50.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[MedicineIssue] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicines] ON 

INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [Manufacturer], [BatchNumber], [QuantityAvailable], [ExpiryDate], [CostPrice], [SellingPrice], [CreatedDate], [UpdatedDate]) VALUES (1, N'aa', N'aa', N'12', 10, CAST(N'2002-02-20' AS Date), CAST(20.00 AS Decimal(10, 2)), CAST(2.00 AS Decimal(10, 2)), CAST(N'2025-09-30T21:37:36.693' AS DateTime), CAST(N'2025-09-30T21:37:36.693' AS DateTime))
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [Manufacturer], [BatchNumber], [QuantityAvailable], [ExpiryDate], [CostPrice], [SellingPrice], [CreatedDate], [UpdatedDate]) VALUES (2, N'Paracetamol 500mg', N'Cipla', N'B001', 200, CAST(N'2026-01-15' AS Date), CAST(1.50 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), CAST(N'2025-10-01T11:27:20.237' AS DateTime), CAST(N'2025-10-01T11:27:20.237' AS DateTime))
INSERT [dbo].[Medicines] ([MedicineID], [MedicineName], [Manufacturer], [BatchNumber], [QuantityAvailable], [ExpiryDate], [CostPrice], [SellingPrice], [CreatedDate], [UpdatedDate]) VALUES (3, N'Amoxicillin 250mg', N'Sun Pharma', N'B002', 150, CAST(N'2026-03-20' AS Date), CAST(3.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(10, 2)), CAST(N'2025-10-01T11:27:20.237' AS DateTime), CAST(N'2025-10-01T11:27:20.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[Medicines] OFF
GO
SET IDENTITY_INSERT [dbo].[Nurses] ON 

INSERT [dbo].[Nurses] ([NurseID], [Gender], [DateOfBirth], [Address], [Qualification], [Specialization], [YearsOfExperience], [JoiningDate], [Salary], [UserID], [Status], [CreatedDate], [UpdatedDate]) VALUES (1, N'Female', CAST(N'1990-03-12' AS Date), N'Chennai', N'B.Sc Nursing', N'Pediatrics', 8, CAST(N'2017-01-10' AS Date), CAST(35000.00 AS Decimal(10, 2)), 31, N'Active', CAST(N'2025-09-27T19:41:38.870' AS DateTime), CAST(N'2025-09-27T19:41:38.870' AS DateTime))
INSERT [dbo].[Nurses] ([NurseID], [Gender], [DateOfBirth], [Address], [Qualification], [Specialization], [YearsOfExperience], [JoiningDate], [Salary], [UserID], [Status], [CreatedDate], [UpdatedDate]) VALUES (2, N'Male', CAST(N'1988-07-19' AS Date), N'Madurai', N'GNM', N'ICU', 10, CAST(N'2015-05-20' AS Date), CAST(40000.00 AS Decimal(10, 2)), 17, N'Active', CAST(N'2025-09-27T19:41:38.870' AS DateTime), CAST(N'2025-09-27T19:41:38.870' AS DateTime))
INSERT [dbo].[Nurses] ([NurseID], [Gender], [DateOfBirth], [Address], [Qualification], [Specialization], [YearsOfExperience], [JoiningDate], [Salary], [UserID], [Status], [CreatedDate], [UpdatedDate]) VALUES (3, N'Female', CAST(N'1992-11-02' AS Date), N'Coimbatore', N'B.Sc Nursing', N'Cardiology', 7, CAST(N'2018-03-05' AS Date), CAST(32000.00 AS Decimal(10, 2)), 18, N'Active', CAST(N'2025-09-27T19:41:38.870' AS DateTime), CAST(N'2025-09-27T19:41:38.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[Nurses] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([PrescriptionID], [PatientID], [MedicineID], [MedicineName], [Dosage], [Quantity], [Duration], [Comments], [PrescribedBy], [PrescribedOn], [Status]) VALUES (1, 1, NULL, N'Paracetamol', N'500mg', 10, N'5 days', N'After meals', 1, CAST(N'2025-09-29T16:26:40.747' AS DateTime), N'Pending')
INSERT [dbo].[Prescriptions] ([PrescriptionID], [PatientID], [MedicineID], [MedicineName], [Dosage], [Quantity], [Duration], [Comments], [PrescribedBy], [PrescribedOn], [Status]) VALUES (2, 1, NULL, N'aa', N'500mg', 10, N'24 hourse', N'on meal', 1, CAST(N'2025-09-29T16:27:28.947' AS DateTime), N'Pending')
INSERT [dbo].[Prescriptions] ([PrescriptionID], [PatientID], [MedicineID], [MedicineName], [Dosage], [Quantity], [Duration], [Comments], [PrescribedBy], [PrescribedOn], [Status]) VALUES (1002, 1, 1, N'Paracetamol 500mg', N'1 tablet', 10, N'5 days', N'After meals', 2, CAST(N'2025-10-01T11:27:49.093' AS DateTime), N'Pending')
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Staffs] ON 

INSERT [dbo].[Staffs] ([StaffID], [UserID], [RoleType], [JoiningDate], [Salary], [Gender], [DateOfBirth], [Address], [Qualification], [Status]) VALUES (1, 87, N'FrontDesk', CAST(N'2020-01-15' AS Date), CAST(25000.00 AS Decimal(10, 2)), N'Female', CAST(N'1996-05-20' AS Date), N'Chennai', N'BBA', N'Active')
INSERT [dbo].[Staffs] ([StaffID], [UserID], [RoleType], [JoiningDate], [Salary], [Gender], [DateOfBirth], [Address], [Qualification], [Status]) VALUES (2, 121, N'FrontDesk', CAST(N'2019-03-10' AS Date), CAST(24000.00 AS Decimal(10, 2)), N'Male', CAST(N'1994-09-12' AS Date), N'Madurai', N'B.Com', N'Active')
INSERT [dbo].[Staffs] ([StaffID], [UserID], [RoleType], [JoiningDate], [Salary], [Gender], [DateOfBirth], [Address], [Qualification], [Status]) VALUES (3, 122, N'FrontDesk', CAST(N'2021-06-25' AS Date), CAST(23000.00 AS Decimal(10, 2)), N'Female', CAST(N'1998-11-01' AS Date), N'Coimbatore', N'BCA', N'Active')
SET IDENTITY_INSERT [dbo].[Staffs] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitID], [UnitKey], [DisplayName]) VALUES (1, N'mmHg', N'mmHg')
INSERT [dbo].[Units] ([UnitID], [UnitKey], [DisplayName]) VALUES (2, N'bpm', N'bpm')
INSERT [dbo].[Units] ([UnitID], [UnitKey], [DisplayName]) VALUES (3, N'Celsius', N'°C')
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [FullName], [Email], [Phone], [CreatedAt]) VALUES (1, N'admin', N'Admin123', N'Admin', N'Jana', N'sjana@gmail.com', N'9677656825', CAST(N'2025-09-27T19:02:15.213' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [FullName], [Email], [Phone], [CreatedAt]) VALUES (2, N'dr.arun', N'hash123', N'Doctor', N'Dr. Arun Kumar', N'arun.kumar@hospital.com', N'9876543210', CAST(N'2025-09-27T19:11:13.540' AS DateTime))
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Role], [FullName], [Email], [Phone], [CreatedAt]) VALUES (3, N'dr.sneha', N'hash124', N'Doctor', N'Dr. Sneha Reddy', N'sneha.reddy@hospital.com', N'9876543211', CAST(N'2025-09-27T19:11:13.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Visits] ON 

INSERT [dbo].[Visits] ([VisitID], [PatientID], [VisitDate], [VisitType], [Notes], [CreatedBy]) VALUES (1, 1, CAST(N'2025-09-29T13:27:39.987' AS DateTime), N'OPD', N'Routine checkup', 1)
SET IDENTITY_INSERT [dbo].[Visits] OFF
GO
SET IDENTITY_INSERT [dbo].[Vitals] ON 

INSERT [dbo].[Vitals] ([VitalID], [PatientID], [VisitID], [VitalType], [VitalValue], [Unit], [Comments], [AddedBy], [AddedOn]) VALUES (2, 1, 1, N'BP', N'120/80', N'mmHg', N'Normal reading', 1, CAST(N'2025-09-29T16:26:40.747' AS DateTime))
INSERT [dbo].[Vitals] ([VitalID], [PatientID], [VisitID], [VitalType], [VitalValue], [Unit], [Comments], [AddedBy], [AddedOn]) VALUES (1002, 1, NULL, N'Temperature', N'103', N'f', N'High Fever', 1, CAST(N'2025-10-01T11:36:18.680' AS DateTime))
INSERT [dbo].[Vitals] ([VitalID], [PatientID], [VisitID], [VitalType], [VitalValue], [Unit], [Comments], [AddedBy], [AddedOn]) VALUES (1003, 1002, NULL, N'BP', N'103', N'f', N'High Fever', 1, CAST(N'2025-10-01T12:18:32.857' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vitals] OFF
GO
SET IDENTITY_INSERT [dbo].[VitalTypes] ON 

INSERT [dbo].[VitalTypes] ([VitalTypeID], [VitalKey], [DisplayName]) VALUES (1, N'BP', N'Blood Pressure')
INSERT [dbo].[VitalTypes] ([VitalTypeID], [VitalKey], [DisplayName]) VALUES (2, N'HR', N'Heart Rate')
INSERT [dbo].[VitalTypes] ([VitalTypeID], [VitalKey], [DisplayName]) VALUES (3, N'Temp', N'Temperature')
SET IDENTITY_INSERT [dbo].[VitalTypes] OFF
GO
/****** Object:  Index [UQ__Doctors__1788CCAD90B83407]    Script Date: 01-10-2025 08:47:22 PM ******/
ALTER TABLE [dbo].[Doctors] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Patients__B9C66DFEC8991FB1]    Script Date: 01-10-2025 08:47:22 PM ******/
ALTER TABLE [dbo].[Patients] ADD UNIQUE NONCLUSTERED 
(
	[PatientCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Units__1C396084CA947E43]    Script Date: 01-10-2025 08:47:22 PM ******/
ALTER TABLE [dbo].[Units] ADD UNIQUE NONCLUSTERED 
(
	[UnitKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E42C576F50]    Script Date: 01-10-2025 08:47:22 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__VitalTyp__20C9AE93B08FF9D5]    Script Date: 01-10-2025 08:47:22 PM ******/
ALTER TABLE [dbo].[VitalTypes] ADD UNIQUE NONCLUSTERED 
(
	[VitalKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ActionOn]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT (getdate()) FOR [BillDate]
GO
ALTER TABLE [dbo].[Billing] ADD  DEFAULT ('Pending') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Doctors] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[MedicineIssue] ADD  DEFAULT (getdate()) FOR [IssuedOn]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT ((0)) FOR [QuantityAvailable]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Medicines] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Nurses] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Nurses] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Patients] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT (getdate()) FOR [PrescribedOn]
GO
ALTER TABLE [dbo].[Prescriptions] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Staffs] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Visits] ADD  DEFAULT (getdate()) FOR [VisitDate]
GO
ALTER TABLE [dbo].[Vitals] ADD  DEFAULT (getdate()) FOR [AddedOn]
GO
ALTER TABLE [dbo].[AuditLog]  WITH CHECK ADD FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([BilledBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Billing]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MedicineIssue]  WITH CHECK ADD FOREIGN KEY([IssuedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MedicineIssue]  WITH CHECK ADD FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[MedicineIssue]  WITH CHECK ADD FOREIGN KEY([PrescriptionID])
REFERENCES [dbo].[Prescriptions] ([PrescriptionID])
GO
ALTER TABLE [dbo].[Nurses]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicines] ([MedicineID])
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD FOREIGN KEY([PrescribedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Staffs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Visits]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Vitals]  WITH CHECK ADD FOREIGN KEY([AddedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Vitals]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patients] ([PatientID])
GO
ALTER TABLE [dbo].[Vitals]  WITH CHECK ADD FOREIGN KEY([VisitID])
REFERENCES [dbo].[Visits] ([VisitID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Patient' OR [Role]='Pharmacy' OR [Role]='FrontDesk' OR [Role]='Nurse' OR [Role]='Doctor' OR [Role]='Admin'))
GO
USE [master]
GO
